<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing CORS</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.10/css/pico.min.css">
</head>
<body>
  <div class="container">
    <h2>Testing CORS</h2>
    <button hx-get="/api" hx-target="#replace">Load from API</button>
    <div id="replace">
      before API
    </div>
  </div>
</body>
</html>